@font-face {
    font-family: 'Heartless';
    src: url('/assets/Heartless.ttf');
}

.bgimagen a{
    margin-top: 6rem;
    font-family:'Bebas Neue' , sans-serif;
}

.carousel-item h1{
    text-decoration: none;
    color: white;
    font-family:'Bebas Neue' , sans-serif;
}



