@import url('https://fonts.googleapis.com/css2?family=Bokor&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    background:#16181a;
    color: white;
    font-family: 'Roboto', sans-serif;
}

div{
  overflow-x: hidden;
  overflow-y: hidden;
}

body a{
    color: white;
}

.nav-link{
  color: white;
}

.logo{
  height: 60px;
}

.contsvg{
  display: none;
}

header a {
  text-decoration: none;
  color: white;
  font-family:'Bebas Neue' , sans-serif;
  font-size: 25px;
}

.titulo{
  font-family: bebas neue, sans-serif;

}

header a:hover{
  opacity: .6;
  transition: 0.5s;
}

header{
  background: #5B070A;
  background: linear-gradient(180deg,rgba(91, 7, 10, 1) 0%, rgba(2, 21, 39, 1) 100%);
}

header button{
    display: none;
}

nav{
  justify-content: space-between;
}



.bgimagen{
  background-image: url(../assets/imagenes/banner.png);
  background-attachment: scroll; 
  background-position: center;
  width: 100%;
}

footer, .foooter{
  background: #16181a;
}

.payments{
  height: 28px;

}

footer h5{
  color: white;
   font-family:'Bebas Neue' , sans-serif;
}

.nav-link:hover{
  color: #dc3545;
}




.redes{
  margin-top: 1rem;
}

.textoredes{
  font-family:'Bebas Neue' , sans-serif;
  margin-top: auto;
  margin-bottom: auto;
}

.foooter section a{
  margin-top: auto;
  margin-bottom: auto;
}


body {
    padding-bottom: 1rem;
  }
  

  .carousel {
    margin-bottom: 2rem;
  }

  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  .carousel-item {
    height: 32rem;
  }




  .b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
  }
  .bd-mode-toggle {
    z-index: 1500;


  }

  @media (min-width: 40em) {
   
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }

  @media (min-width: 768px) and (max-width: 1199px) { 
    .margincosas{
      margin-left: 10px;
      margin-right: 10px;
    }
    
  }
  
  @media (min-width: 768px) and (max-width: 990px) { 
    .bgimagen .d-flex{
        margin-top: 15vh !important;
    }
  }
  
  @media (max-width: 767px){

    header button{
      display: block;
      border: 1px solid white !important;
      margin: auto;
      border-top-left-radius: 4px !important;
      border-bottom-left-radius: 4px !important;
      border-top-right-radius: 4px !important;
      border-bottom-right-radius: 4px !important;
    }

    header button span{
      margin: auto;
    }

    header button svg{
      color: white;
    }

    header .nav-item a{
      font-size: 20px;
    }  

    .bgimagen{
      padding-top: 0 !important;
    }
    .carousel-inner{
      height: 50vh;
    }
    .carousel-item{
        height: 100%;
    }

    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }

    .bgimagen .d-flex{
      margin-top: 13vh !important;
    }
    .bgimagen .d-flex a{
      margin-bottom: 2vh !important;
    }

    .redes{
      flex-direction: column !important;
    }

    .redes h4{
      text-align: center;
      margin-bottom: 1rem;
      margin-top: 1rem;
    }
    

  }
  

  @media (max-width: 376px){
    header .nav-link{
      margin-left: 0.5rem !important;
      margin-right: 0.5rem !important;
    }
    
    nav{
      justify-content: center ;
    }
    
  }

  