
body{
    color: white;
}
.contenedor {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    font-family: 'Roboto', sans-serif;
}

p {
    text-align: justify;
}

.info-bloque{
    width: 100%;
}

.info-texto{
    width: 50%;
}

.nosotros{
    margin: auto;
    flex-direction: column;
}

/* Encabezado principal de la sección */
.seccion-encabezado {
    text-align: center;
}

.seccion-encabezado h2 {
    font-size: 3.5rem; /* 40px */
    color: white;
    font-family:'Bebas Neue' , sans-serif;
}

.seccion-encabezado .subtitulo {
    font-size: 1.1rem; /* 18px */
    color: white;
}

hr {
    border: 0;
    height: 1px;
    background: #e0e0e0;
    margin: 40px 0;
}

/* Estructura de bloque de información (para Historia y Equipo) */
.info-bloque {
    display: flex;
    flex-wrap: wrap; /* Para que en móviles se ponga uno debajo del otro */
    align-items: center;
    margin-bottom: 50px;
    gap: 30px; /* Espacio entre imagen y texto */
}

.info-bloque .info-texto,
.info-bloque .info-imagen {
    flex: 1; /* Hace que ambos ocupen el 50% */
    min-width: 300px; /* Evita que se encojan demasiado */
    display: flex;
    flex-direction: column;
}

.info-bloque .info-imagen img {
    width: 100%;
    height: auto;
    border-radius: 8px; /* Bordes redondeados sutiles */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.info-bloque .info-texto h3 {
    font-size: 3rem; /* 32px */
     font-family:'Bebas Neue' , sans-serif;
    margin-bottom: 15px;
    text-align: center;
}

.info-bloque .info-texto p {
    font-size: 1.5rem; /* 16px */
    line-height: 1.6;
    margin-bottom: 15px;
}

/* Clase 'reverse' para alternar el orden (imagen a la izquierda) */
.info-bloque.reverse {
    flex-direction: row-reverse;
}

/* Estilos para la sección de Pilares (Misión, Visión, Valores) */
.pilares {
    margin-bottom: 50px;
}

.pilares-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
}

.pilar-card {
    background: #5B070A;
    background: linear-gradient(180deg,rgba(91, 7, 10, 1) 0%, rgba(2, 21, 39, 1) 100%);
    padding: 25px;
    border-radius: 8px;
    text-align: center;
}

.pilar-card h4 {
    font-size: 1.5rem; /* 24px */
    color: white;
    margin-bottom: 10px;
     font-family:'Bebas Neue' , sans-serif;
}

.pilar-card p {
    font-size: 0.95rem; /* 15px */
    line-height: 1.5;
    color: white;
}



/* --- Media Queries para Móviles --- */
@media (max-width: 768px) {
    .info-bloque {
        flex-direction: column;
    }
    
    /* Quita el 'reverse' en móvil para que siempre sea texto y luego imagen */
    .info-bloque.reverse {
        flex-direction: column;
    }
}