 .cuerpo{
    text-align: justify;
 }

 .invisible{
    display: none;

}

 label{
    font-weight: bold;
    font-size: 1.2rem;
 }
 @media (min-width: 200px) and (max-width: 765px) { 
    .cuerpo, label{
        font-size: 1rem ;
    }

  }

  @media (max-width: 991px){
    .invisible{
        display: flex;
    }

}


@media (max-width: 767px){
    .bgimagen{
    background-image: url(../assets/imagenes/bannerindexresposive.png);
    background-repeat: no-repeat;
    background-position: center;}

}


   